<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Node App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div id="app">
    <form @submit.prevent="submitForm">
      <label for="inputData">Enter Data:</label>
      <input type="text" id="inputData" v-model="formData" required>
      <button type="submit">Submit</button>
    </form>

    <div v-if="responseMessage">{{ responseMessage }}</div>
    <div v-if="address">
        <h3>Address:</h3>
        <pre>{{ address }}</pre>
    </div>
    <div v-if="lowerSq">
        <h3>Square Feet:</h3>
        <pre>{{ lowerSq }} - {{ upperSq }}</pre>
    </div>
    <div v-if="tripcount">
        <h3>Trip Count:</h3>
        <pre>{{ tripcount }}</pre>
    </div>
    <div v-if="lat">
        <h3>Latitude:</h3>
        <pre>{{ lat }}</pre>
    </div>
    <div v-if="lng">
        <h3>Longitude:</h3>
        <pre>{{ lng }}</pre>
    </div>
    <div v-if="price">
        <h3>Price:</h3>
        <pre>{{ price }}</pre>
    </div>
    <div v-if="tripcount">
        <h3>Trip Count:</h3>
        <pre>{{ tripcount }}</pre>
    </div>
    <div v-if="score">
        <h3>Professional Rating:</h3>
        <pre>{{ score }}</pre>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="frontend.js"></script>
</body>
</html>
